.pixel-canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.pixel-card {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  border-radius: 10px;
  isolation: isolate;
  user-select: none;
}

.pixel-card-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

//.pixel-card::before {
//  content: "";
//  position: absolute;
//  inset: 0;
//  aspect-ratio: 1;
//  opacity: 0;
//  transition: opacity 800ms cubic-bezier(0.5, 1, 0.89, 1);
//}
//
//.pixel-card:hover::before,
//.pixel-card:focus-within::before {
//  opacity: 1;
//}
