$special-text-color: #383838;
$basic-green-color: #2ec47a;
$darken-green-color: darken($basic-green-color, 20%);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1e1;
}

.cnv_tree{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  color: $special-text-color;
  transition: .5s ease all;

  &:hover {
    color: $basic-green-color;
    transition: 0.5s ease all;
  }
}

.card-container {
  width: 85%;
  max-width: 35rem;
  margin: 2.5rem auto;
  border-radius: 8px;
}

.header-container {
  display: flex;
  align-items: flex-start;
  background-color: white;
  border-radius: 8px 8px 0 0;
  //border-bottom: 1px solid #2ec47a;
}

.name-container {
  position: relative;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: left;
  padding: 30px 25px;
}

#img-container {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid $darken-green-color;
  margin: auto;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#portrait {
  max-height: 115%;
  max-width: 115%;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: normal;
  color: $special-text-color;
}

.name-container > p {
  font-family: sans-serif;
  font-size: 1.1rem;
  color: #00000085;
  font-weight: normal;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 50%;
  gap: 10px;
}

.info-box {
  display: flex;
  width: 100%;
  gap: 4px;
}

.info-inbox {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  transition: 0.3s;

  &:hover{
    border: 1px solid darken(#d7d7d7, 30%);
  }
}

.info-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-paragraph {
  font-size: 18px;
  margin-bottom: 3px;

  & svg {
    width: 1.1em;
    height: 1.1em;
    position: relative;
    top: 0.15em;
  }
}

.info-text {
  font-size: 16px;
  & p {
    font-size: 12px;
  }
}

.padding {
  padding: 10px;
}
.margin-bottom {
  margin-bottom: 4px;
}
.height {
  height: 100%;
}
.font-weight600 {
  font-weight: 600;
}
.font-size20px {
  font-size: 20px;
}

.font-weight700 {
  font-weight: 700;
}
.text-align-center {
  text-align: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-direction-column {
  flex-direction: column;
}
.cursor-pointer {
  cursor: pointer;
}

.min-padding {
  padding: 10px;
}

.section {
  padding: 10px 30px 30px 30px;
}

.about-section {
  background-color: white;
}

.skills-section {
  background-color: white;
}

.info-skills-inbox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
  gap: 5px;
}

.skill {
  background: #BEBEBE84;
  color: #000000;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    background: #BEBEBE;
  }
}

.contact-section {
  background-color: white;
}

.section-title {
  border-bottom: 1px solid #2ec47a;
  padding-bottom: 15px;
  margin: 10px;
  color: $special-text-color;
  font-family: sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.project-icon {
  width: 80px;
  height: 80px;
}
.emoji {
  text-align: center;
  font-size: 70px;
}

.body-text {
  color: rgba(0, 0, 0, 0.83);
  font-family: sans-serif;
  font-size: .9rem;
  font-weight: lighter;
  padding-top: 20px;
  line-height: 2;
}

/* Contact UL */

.contact-section ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -10px;
  align-items: center;
  justify-content: center;
}

.contact-section li {
  display: inline-block;
  margin: 8px;
}

.contact-section a {
  border: 1px solid $special-text-color;
  border-radius: 4px;
  padding: 10px 18px;
  text-decoration: none;
}

.contact-section a:hover {
  border: 1px solid $basic-green-color;
}

.contact-section svg {
  width: 1rem;
  height: auto;
  fill: $special-text-color;
  margin-right: 10px;
  margin-bottom: -2px;
  transition: .5s ease all;
}

a:hover svg {
  fill:$basic-green-color;
  transition: .5s ease all;
}

/* End Contact UL */

.contact-section {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Media Queries */

@media screen and ( max-width: 850px ) {
  html {
    font-size: 0.8rem;
  }

  .card-container {
    margin: 4rem auto;
  }

  .name-container {
    padding: 4rem 2rem;
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 50%;
    gap: 10px;
  }

  .info-box {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 4px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .info-inbox {
    display: flex;
    height: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    transition: 0.3s;

    &:hover{
      border: 1px solid darken(#d7d7d7, 30%);
    }
  }

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .info-paragraph {
    font-size: 16px;
    margin-bottom: 3px;

    & svg {
      width: 1.1em;
      height: 1.1em;
      position: relative;
      top: 0.15em;
    }
  }

  .info-text {
    font-size: 14px;
    & p {
      font-size: 12px;
    }
  }

  .section {
    padding: 10px 20px;
  }

  .section-title {
    border-bottom: 1px solid $basic-green-color;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }

  .body-text {
    padding-top: 0;
  }

  .contact-section ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }

  .contact-section li {
    display: inline-block;
    margin: 8px;
  }

  .contact-section a {
    border: 1px solid $special-text-color;
    border-radius: 4px;
    padding: 10px 18px;
    text-decoration: none;
  }

  .contact-section a:hover {
    border: 1px solid $basic-green-color;
  }

  .contact-section svg {
    width: 1rem;
    height: auto;
    fill: $special-text-color;
    margin-right: 10px;
    margin-bottom: -2px;
    transition: .5s ease all;
  }

  .contact-section li {
    margin: 10px 5px;
  }
}

@media screen and ( min-width: 980px ) {
  html {
    font-size: 1rem;
  }
}

@media screen and ( min-width: 1680px ) {
  html {
    font-size: 1.5rem;
  }
}