$special-text-color: #383838;
$border-radius-color: #d7d7d7;

$basic-green-color: #2ec47a;
$darken-green-color: darken($basic-green-color, 20%);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1f1e1;
}

.cnv_tree{
  position: fixed;
  color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  color: #595959;
  transition: .5s ease all;

  @media (hover: hover) {
    &:hover {
      color: black;
      transition: .5s ease all;
    }
  }
}

.card-container {
  width: 35rem;
  margin: 2.5rem auto;
  border-radius: 8px;
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px 8px 0 0;
}

.name-container {
  position: relative;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: left;
  padding: 30px 30px;
}

.contacts {
  display: flex;
  gap: 0.6rem;
  margin-top: 0.5rem;
}

#img-container {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid $darken-green-color;
  margin: auto;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

#portrait {
  max-height: 115%;
  max-width: 115%;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: normal;
  color: $special-text-color;
}

.name-container > p {
  font-family: sans-serif;
  font-size: 0.8rem;
  color: #00000095;
  font-weight: normal;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 30px 30px;
  width: 50%;
  gap: 4px;
}

.info-box {
  display: flex;
  width: 100%;
  gap: 4px;
}

.info-inbox {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid $border-radius-color;
  border-radius: 10px;
  transition: .3s;

  &:hover {
    border: 1px solid darken($border-radius-color, 30%);
    transition: .5s ease all;
  }
}

.info-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info-paragraph {
  font-size: 18px;
  margin-bottom: 3px;

  & svg {
    width: 1.1em;
    height: 1.1em;
    position: relative;
    top: 0.15em;
  }
}

.info-text {
  font-size: 16px;
  & p {
    font-size: 12px;
  }
}

.padding {
  padding: 10px;
}
.margin-bottom {
  margin-bottom: 4px;
}
.height {
  height: 100%;
}
.font-weight600 {
  font-weight: 600;
}
.font-size20px {
  font-size: 20px;
}

.font-weight700 {
  font-weight: 700;
}
.text-align-center {
  text-align: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-direction-column {
  flex-direction: column;
}
.cursor-pointer {
  cursor: pointer;
}

.min-padding {
  padding: 10px;
}

.section {
  background-color: white;
  //max-width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
}

.info-skills-inbox {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid $border-radius-color;
  border-radius: 10px;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 10px;
  gap: 5px;
}

.skill {
  background: #BEBEBE84;
  color: #000000;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;

  @media (hover: hover) {
    &:hover {
      background: #BEBEBE;
      transition: .5s ease all;
    }
  }
}

.section-title {
  border-bottom: 1px solid #2ec47a;
  padding-bottom: 15px;
  margin: 10px;
  color: $special-text-color;
  font-family: sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.project-icon {
  width: 80px;
  height: 80px;
}

.emoji {
  text-align: center;
  font-size: 70px;
}

.body-text {
  color: rgba(0, 0, 0, 0.83);
  font-family: sans-serif;
  font-size: .9rem;
  font-weight: lighter;
  padding-top: 20px;
  line-height: 2;
}

.border-radius-bottom {
  border-radius: 0 0 8px 8px;
}

/* Media Queries */

@media screen and ( max-width: 850px ) {
  html {
    font-size: 0.8rem;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 8px 8px 0 0;
  }

  .card-container {
    width: 95%;
    max-width: max-content;
    margin: 4rem auto;
  }

  #img-container {
    width: 9rem;
    height: 9rem;
  }

  .name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem;
    & p {
      font-size: 1.3rem;
    }
  }

  .contacts {
    gap: 0.8rem;
  }

  .info-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 10px;
  }

  .info-box {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 4px;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .info-inbox {
    display: flex;
    height: 100%;
    border: 1px solid $border-radius-color;
    border-radius: 10px;
    transition: 0.3s;

    &:hover{
      border: 1px solid darken($border-radius-color, 30%);
    }
  }

  .info-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .info-paragraph {
    font-size: 16px;
    margin-bottom: 3px;

    & svg {
      width: 1.1em;
      height: 1.1em;
      position: relative;
      top: 0.15em;
    }
  }

  .info-text {
    font-size: 14px;
    & p {
      font-size: 12px;
    }
  }

  .section {
    //width: 95%;
    padding: 10px 20px;
  }

  .section-title {
    border-bottom: 1px solid $basic-green-color;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }

  .body-text {
    padding-top: 0;
  }
}

@media screen and ( min-width: 980px ) {
  html {
    font-size: 1rem;
  }
}

@media screen and ( min-width: 1680px ) {
  html {
    font-size: 1.5rem;
  }
}